.buy-container{
    padding: 20px 60px;
}
.buy-main{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
.buy-main-div{
    display: flex;
    align-items: center;
    width: 49%;

}
.buy-sub-div h3,
.buy-sub-div p{
    margin: 0px;
    padding: 0px;
}

.buy-sub-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.buy-sub-div h4{
    color: #027B83;
}