.reason-container {
    /* padding: 0 60px; */
}

.reason-main {
    display: flex;
}

.reason-main1 {
    background-color: #005F83;
}

.reason-main-div {
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    gap: 70px
}

.reason-main1 h3 {
    color: white;
    text-align: center;
}

.reason-sub-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    flex-wrap: wrap;


}

.reason-sub-div h3,
.reason-sub-div p {
    padding: 0;
    margin: 0;
    color: white
}

.btn-div {
    margin-top: 30px;
    padding: 10px 0 0 34px;
    display: flex;
    gap: 20px
}


.apply-btn {
    width: auto;
    /* height: 36px; */
    border-radius: 9px;
    border: 1px solid white;
    background-color: #005F83;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 8px;
    gap: 20px;
}

.reason-img {
    height: 100%;
}


/* Responsive for  1024 px*/
@media only screen and (max-width: 1024px) {
    .img-container {
        width: 48%;
    }

    .reason-img {
        height: 100%;
    }
}

/* Responsive for  768 px*/
@media only screen and (max-width:768px) {
    .reason-main {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 100%;
    }

    .img-container {
        width: 100%;
    }

    .reason-img {
        height: auto;
        width: 100%;

    }

    .btn-div {
        margin-top: 30px;
        padding: 10px 0 0 34px;
        display: flex;
        gap: 20px;
        margin-bottom: 30PX;
    }
}
@media only screen and (max-width:768px) {
    .reason-sub-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
    
}

@media only screen and (max-width:580px) {
    .reason-sub-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
    
}