
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: rgba(2, 123, 131, 1);
    color: #fff;
  }
  
  .footer-main-div1 {
    flex: 1;
    max-width: 40%;
  }
  
  .footer-logo {
    width: 150px;
    margin-bottom: 20px;
  }  
  .footer-icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
  }
  
  .footer-social-icons a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  .footer-main-div2 {
    flex: 1;
    max-width: 50%;
  }
  
  .footer-description {
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .footer-links {
    font-size: 16px;
  }
  
  .footer-links h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  