.policy-container {
    /* display: flex; */
    padding: 0 60px;

}

/* .policy-container h3 {
    padding-left: 60px;
} */

.policy-main {
    display: flex ;
    flex-wrap: wrap;
    gap: 48px;
    

}
.policy-div{
    /* display: flex */
        padding: 20px;
        width: 45%;
        border: 1px solid transparent;
        /* box-shadow: 2px 2px 2px 2px grey; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }

.policy-div span{
    display: inline-flex;
    width: 30px;
    background-color: #005F83;
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    /* padding:2px 0; */
    margin-right: 5px;
}

/* Responsive for  1024 px*/
@media only screen and (max-width: 1024px) {
    .policy-main {
        display: flex;
        flex-wrap: wrap;
        gap: 61px;
    }
    .policy-div {
        padding: 20px;
        width: 42%;
        border: 1px solid transparent;
        /* box-shadow: 2px 2px 2px 2px grey; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }
  }

/* Responsive for  768 px*/
@media only screen and (max-width: 768px) {  
    .policy-div {
        padding: 20px;
        width: 100%;
        border: 1px solid transparent;
        /* box-shadow: 2px 2px 2px 2px grey; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }/*  */
    
  }
