.top-container {
    background-color: #007B83;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: 35px;
    padding: 10px 0px 10px 60px;
}

.top-container a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.main-container {
    width: 100%;
}

.main-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
}

.main-container ul li {
    position: relative;
    color: #027B83;
    padding: 10px;
    cursor: pointer;
}

.main-container ul li a {
    position: relative;
    display: flex;
    align-items: center;
}

.main-container ul li a:after {
    content: url('../assests/arrow.png');
    margin-left: 10px;
}

.main-container ul li.active a:after {
    content: url('../assests/arrow-up.png');
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 10;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown ul li {
    padding: 8px 15px;
    color: #007B83;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #f4f4f4;
}

.btn {
    width: 70px;
    height: 28px;
    border-radius: 9px;
    border: 1px solid transparent;
    background-color: #027B83;
    color: white;
}

.btn:hover {
    background-color: #25969e;
    cursor: pointer;
}
